[Desktop Entry]
Encoding=UTF-8
Name=Link to 300px-Bachalpseeflowers.jpg
Type=Link
URL=http://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bachalpseeflowers.jpg/300px-Bachalpseeflowers.jpg
Icon=image-jpeg
